//-
   Created with JetBrains WebStorm.
   User: linpeng
   Date: 13-8-15
   Time: PM 2:36
title= title
script(src='/javascripts/jquery.js')
script(src='/javascripts/bootstrap.min.js')
link(rel='stylesheet', href='/stylesheets/bootstrap.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
